@font-face {
    font-family: "Archivo";
    src: url(./Archivo/Archivo-Thin.ttf) format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "Archivo";
    src: url(./Archivo/Archivo-ExtraLight.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: "Archivo";
    src: url(./Archivo/Archivo-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Archivo";
    src: url(./Archivo/Archivo-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Archivo";
    src: url(./Archivo/Archivo-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Archivo";
    src: url(./Archivo/Archivo-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "Archivo";
    src: url(./Archivo/Archivo-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Archivo";
    src: url(./Archivo/Archivo-ExtraBold.ttf) format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: "Archivo";
    src: url(./Archivo/Archivo-Black.ttf) format('truetype');
    font-weight: 900;
}