// COLORS

$main-title:black;
$secondary-title:black;
$secondary-title-description:#9B9B9B;
$secondary-text:#1D1D1D;
$description-text:#656565;
$button-background:black;
$button-text-color:#FFFFFF;
$active-page-color:black;


