@import "../../styles/variables.scss";
.dayPicture{
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    justify-content: space-between;
    &__name{
        width: 60%;
        font-size: 32px;
        font-weight: 700;
        order: 1;
        @media (max-width:660px){
            width: 100%;
        }
    }
    &__button{
        width: 15%;
        height: 47px;
        min-width: 190px;
        order: 2;
        @media (max-width:660px){
            order: 3;
            width: 100%;
        }
    }
    &__image{
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
        order: 3;
        @media (max-width:660px){
            order: 2;
        }
        & h5{
            width: clamp(127px, 20vw , 272px);
            height: clamp(30px, 6vw, 67px);
            background-color: white;
            position: absolute;
            text-align: center;
            padding-top: clamp(8px,2vw, 20px);
            bottom: 0px;
            left: 0px;
            font-weight: 700;
            font-size: clamp(15px, 2vw, 20px);
        }
        & img{
            width: 100%;
            max-height: 553px;
            object-fit: cover;
            max-width: 100%;
        }
    }
    &__about{
        width: 60%;
        margin-right: 10%;
        margin-top: 15px;
        order: 4;
        @media(max-width:960px){
            width: 100%;
        }
        h3{
            font-size: 22px;
            color: $secondary-title;
            font-weight: 700;
        }
        h4{
            font-size: 22px;
            color: $description-text;
            font-weight: 700;
            margin-top: 15px;
            text-transform: capitalize;
        }
        p{
            font-size: 18px;
            color: $description-text;
            font-weight: 400;
            line-height: 150%;
            margin-top: 15px;
        }
        
    }
    &__suggested-products{
        h3{
            font-size: 22px;
            color: $secondary-title;
            font-weight: 700;
        }
    }
    &__details{
        h3{
            font-size: 22px;
            color: $secondary-title;
            font-weight: 700;
            margin-top: 35px;
            text-align: end;
            @media(max-width:630px){
                text-align: start;
            }
        }
        h4{
            font-size: 16px;
            color: $description-text;
            font-weight: 400;
            margin-top: 15px;
            text-align: end;
            @media(max-width:630px){
                text-align: start;
            }
        }

    }
}

.pictures-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    @media(max-width:630px){
        justify-content: center;
    }
    & img{
        width: clamp( 97px , 10vw ,117px);
        height: clamp( 122px , 13vw ,147px);;
        object-fit: cover;
    }
}

.flex-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 5;
    @media(max-width:960px){
        width: 100%;
        flex-direction: row;
    }
    @media(max-width:630px){
        width: 100%;
        flex-direction: column;
    }

}